.portefeuilDirect {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.portefeuilDirect_row {
  display: flex;
  justify-content: space-between;

}

.portefeuilDirect_row_comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 600px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: gray;
}

.portefeuilDirect_row_comment_title {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
}
.portefeuilDirect_row_comment_content {
  background-color: #f7f7f7;
  padding: 20px;
}
